<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<title>MÉRINEAU - Épreuve finale volet II</title>
</head>
<body>
  <div class='global'>
  	  <header>
  	  	<h1>Épreuve finale volet II - Programmation et veille technologique</h1>
  	  	<h2>Node.js, Express, MongoDB, EJS</h2>
  	  	<nav>

  	  		<a href="#">1-Fichier</a>
  	  		<a href="#">2-Provinces</a>
  	  		<a href="#">3-Collection</a>
  	  		<a href="#">4-Ajouter un document</a>
  	  		<a href="#">5-Détruire</a>
  	  		<a href="#">6-Ajouter plusieurs</a>
  	  	<nav>
  	  </header>
  	  <main>
		  <table class="tableau">
      <% for(var i=0; i<examf2.length; i++) {%>
        <li class="client">
          <form <%= "action=modifier/"+examf2[i]._id.toString() %> method="POST">
            <input type="text" placeholder="Code" name="code" value="<%= examf2[i].code %>">
            <input type="text" placeholder="Nom" name="nom" value="<%= examf2[i].nom %>">
            <input type="text" placeholder="Capital" name="capital" value="<%= examf2[i].captial %>">
            <%= examf2[i]._id.toString() %>
            <a <%= "href=detruire/"+examf2[i]._id.toString() %>>Supprimer</a>
            <button type="submit">Sauvegarder</button>
          </form>
        </li>
      <% } %>
		  </table>
	  </main>
	  <footer>
	  <p>Epreuve finale volet II - Programmation et veille technologique - TIM - Collège de Maisonneuve</p>
	  </footer>
  </div>
</body>
</html>