<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<title>MÉRINEAU - Épreuve finale volet II</title>
</head>
<body>
  <div class='global'>
  	  <header>
  	  	<h1>Épreuve finale volet II - Programmation et veille technologique</h1>
  	  	<h2>Node.js, Express, MongoDB, EJS</h2>
  	  	<nav>

          <a <%= "href=/question1"%>>1-Fichier</a>
          <a <%= "href=/question2"%>>2-Provinces</a>
          <a href="#">3-Collection</a>
          <a href="#">4-Ajouter un document</a>
          <a href="#">5-Détruire</a>
          <a href="#">6-Ajouter plusieurs</a>
  	  	<nav>
  	  </header>
  	  <main>
		  <table class="tableau" action="/examf2">
        <% for(var i=0; i<examf2.length; i++) {%>
          <tr>
            <td name="id"><%= examf2[i].id%></td>
            <td name="code"><%= examf2[i].code %></td>
            <td name="nom"><%= examf2[i].nom %></td>
            <td name="capital"><%= examf2[i].capital %></td>
          </tr>    
        <% } %>
		  </table>
	  </main>
	  <footer>
	  <p>Epreuve finale volet II - Programmation et veille technologique - TIM - Collège de Maisonneuve</p>
	  </footer>
  </div>
</body>
</html>